# 忽略本地个性化与私密配置文件
*.local
*.local.*
*.secret
local.lua
*.local.lua

# 忽略临时文件、备份与系统日志
.DS_Store
*.swp
*.tmp
*~
*.bak
*.bak.*
*.log
*.zwc

# Neovim 相关忽略
.config/nvim/doc/
.config/nvim/README*.md
.netrwhist
plugin/packer_compiled.lua

